body{
    font: 12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif;
}
body>div{
    background-color: white;
    width: 1500px;
    margin: 0 auto;
    position: relative;
}
#head_1{
    width: 1500px;
    height: 78px;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}
#head_1>div{
    width: 1500px;
    height: 78px;
    margin: 0 auto;
    z-index: 10;
}
#logo{
    float: left;
    width: 167px;
    height: 60px;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 100px;
}
ul{
    float: left;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#head_1>div>ul>li{
    float: left;
    margin-right: 50px;
}
.CN{
    display: block;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    line-height: 18px;
}
.EN{
    display: block;
    font-size: 11px;
    color: #aeaeae;
    margin-top: -15px;
    text-align: center;
}
#top{
    width: 1500px;
    height: 360px;
    margin: 0 auto;
}
#sec{
    width: 1280px;
    margin: 20px auto;
}
#sec_l{
    width: 820px;
    float: left;
}
#sec_l>img{
    width: 820px;
    float: left;
}
#sec_l>ul{
    border-bottom: 2px solid #aeaeae;
}
#sec_l>ul>li{
    float: left;
    margin-right: 45px;
    margin-left: 25px;

}
#sec_r{
    float: right;
    width: 430px;
}


