body{
    font: 12px/1.5 tahoma,'\5FAE\8F6F\96C5\9ED1',sans-serif;
}
body>div{
    background-color: #efe8e8;
    width: 1440px;
    margin: 0 auto;
    position: relative;
}
#head_1{
    width: 1440px;
    height: 78px;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0 auto;
}
#head_1>div{
    width: 1440px;
    height: 78px;
    margin: 0 auto;
    z-index: 10;
}
#logo{
    float: left;
    width: 167px;
    height: 60px;
    margin-top: 10px;
    margin-right: 50px;
    margin-left: 100px;
}
ul{
    float: left;
    list-style-type: none;
    padding: 0;
    text-align: center;
}
#head_1>div>ul>li{
    float: left;
    margin-right: 50px;
}
#i1{
    float: left;
    margin-left: 70px;
    margin-top: 10px;
    display: inline-block;
    width: 21px;
    height: 24px;
    line-height: 24px;
    background-image: url("https://game.gtimg.cn/images/lol/v3/topfoot-spr.png");
    background-position: -381px -39px;
}
#i2{
    margin-left: -20px;
    margin-top: 10px;
    float: left;
    display: inline-block;
    width: 16px;
    height: 24px;
    line-height: 24px;
    background-image: url("https://game.gtimg.cn/images/lol/v3/topfoot-spr.png");
    background-position:-303px -84px;
}
#i3{
    margin-left: -20px;
    /*margin-top: px;*/
    float: left;
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 24px;
    background-image: url("https://game.gtimg.cn/images/lol/v3/topfoot-spr.png");
    background-position:-212px -115px;
}
#tou{
    margin-top: 9px;
    margin-left: 2px;
    margin-right: 0;
    width: 35px;
    height: 35px;
    border: 1px;
    border-radius: 20px;
}
#head_ul>b{
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
}
.CN{
    display: block;
    font-size: 18px;
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    line-height: 18px;
}
.EN{
    display: block;
    font-size: 11px;
    color: #aeaeae;
    margin-top: -15px;
    text-align: center;
}
#top{
    width: 1440px;
    height: 360px;
    margin: 0 auto;
}
#sec{
    width: 1440px;
    height: 386px;
    margin: 15px auto;
    padding: 0 20px;
}
#sec_l{
    width: 820px;
    float: left;

}
#sec_l>img{
    width: 820px;
    float: left;
    margin: 0 auto;
}
#sec_l>ul{
    border-bottom: 2px solid #aeaeae;
    text-align: center;
    margin: 0;
}
#sec_l>ul>li{
    float: left;
    margin-top: 10px;
    margin-right: 45px;
    margin-left: 25px;

}
#sec_r{
    float: right;
    width: 570px;
    margin-right: -5px;
    margin-left: 50px;
}
#sec_r>ul{
    display: block;
    width: 560px;
    padding: 0;
}
#sec_r>ul>li{
    float: left;
    font-size: 20px;
    margin-bottom: 10px;
}
.c_t{
    margin-right: 70px;
}
#news{
    width: 500px;
    display: inline-block;
    text-align: center;
    font-size: 22px;
    line-height: 22px;
    margin-right: 40px;
    color: #33addc;
    font-weight: bold;

}
#more{
    width: 500px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    line-height: 16px;
    margin: 0 auto;

}
.c_l{
    border: 1px solid brown;
    float: left;
    font-size: 14px;
    padding: 2px;
}
.c_m{
    display: inline-block;
    text-align: left;
    width: 360px;
    line-height: 20px;
    margin-left: 20px;
    margin-right: 30px;
    font-size: 16px;
}
.c_r{
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-right: 0;
}
#thr{
    width: 1440px;
    padding: 0 20px;
}
#thr_l{
    width: 820px;
    float: left;
}
#thr_l_1{
    width: 100%;
}
#re{
    width: 96px;
    height: 24px;
    float: left;
    line-height: 24px;
    padding: 0 0 20px 20px;
    margin-right: 20px;
    border-left: 2px solid #aeaeae;
}
#thr_l_1>h1{
    font-size: 24px;
    display: inline-block;
    line-height: 24px;
    float: left;
    margin-right: 20px;
}
#thr_l_1>ul{
    display: inline-block;
    float: left;
    margin-top: 16px;
}
#thr_l_1>ul>li{
    float: left;
    margin-right: 30px;
    font-size: 16px;
}
#thr_l_1>span{
    display: inline-block;
    float: right;
    margin-right: 30px;
    margin-top: 20px;
}
#thr_l_2{
    float: left;
}
#thr_l_2>ul>li{
    float: left;
    margin-right: 12px;
    margin-left: 0;

}
#thr_l_2>ul>li>span{
    display: block;
    float: left;
    margin-left: 0;

}
#thr_l_3{
    float: left;
    padding: 0;
}
#thr_r{
    float: right;
    width: 570px;
    height: 350px;
    margin-right: 10px;
}
#thr_r>div{
    width: 530px;
    margin-top: 60px;
}
#four{
    width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}
#f_l{
    float: left;
    width: 700px;
}
#f_r{
    float: left;
    width: 700px;
}






